<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            text-align: center;
            width: 600px;
            height: auto;
        }
        th {
            margin-left: 15px;
        }
    </style>
    <link href="/home.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/home.js"></script>

</head>
<body>
<h1>데이터 테스트</h1>
<span>서울시의 편의시설 데이터 (다른 도,시 도 가능합니다)</span>
<br><br>

<select id="categorySelect">
    <option value="">카테고리를 선택하세요</option>
    <!-- 농림어업 -->
    <optgroup label="농림어업">
        <option value="A001">농업</option>
        <option value="A002">임업</option>
        <option value="A003">어업</option>
    </optgroup>
    <!-- 기업 -->
    <optgroup label="기업">
        <option value="8001">제조/화학</option>
        <option value="8002">서비스</option>
        <option value="8003">통신/IT</option>
        <option value="8004">건설</option>
        <option value="8005">판매/유통</option>
        <option value="8006">기타금융업</option>
        <option value="8008">문화/체육</option>
        <option value="B001">전기/가스/수도</option>
        <option value="B002">환경</option>
        <option value="B003">방송/미디어</option>
        <option value="B004">연구개발</option>
        <option value="B005">협회 및 단체</option>
        <option value="B006">광업</option>
        <option value="B007">운송</option>
    </optgroup>
    <!-- 소매업 -->
    <optgroup label="소매업">
        <option value="1001">인테리어</option>
        <option value="2001">문구점</option>
        <option value="2002">서점</option>
        <option value="2003">편의점</option>
        <option value="2004">식료품점</option>
        <option value="2005">휴대폰점</option>
        <option value="2006">의류</option>
        <option value="2007">화장품/방향제</option>
        <option value="2008">철물점</option>
        <option value="2009">주유소</option>
        <option value="2010">꽃집</option>
        <option value="2011">슈퍼마켓</option>
        <option value="9001">백화점/중대형마트</option>
    </optgroup>
    <!-- 생활서비스 -->
    <optgroup label="생활서비스">
        <option value="1002">목욕탕</option>
        <option value="1006">부동산중개업</option>
        <option value="1007">이발소</option>
        <option value="1008">미용실</option>
        <option value="1009">세탁소</option>
        <option value="9002">은행</option>
        <option value="D001">생활용품임대</option>
        <option value="D002">독서실</option>
        <option value="D003">생활용품수리</option>
        <option value="D004">카센터</option>
        <option value="D005">피부/미용</option>
        <option value="D006">마사지</option>
        <option value="D007">택배/배달</option>
    </optgroup>
    <!-- 교통 -->
    <optgroup label="교통">
        <option value="3001">지하철역</option>
        <option value="3002">터미널</option>
    </optgroup>
    <!-- 여가생활 -->
    <optgroup label="여가생활">
        <option value="1010">PC방</option>
        <option value="1011">노래방</option>
        <option value="9004">극장/영화관</option>
        <option value="9005">도서관/박물관</option>
    </optgroup>
    <!-- 음식 -->
    <optgroup label="음식">
        <option value="5001">한식</option>
        <option value="5002">중식</option>
        <option value="5003">일식</option>
        <option value="5004">분식</option>
        <option value="5005">서양식</option>
        <option value="5006">제과점</option>
        <option value="5007">패스트푸드</option>
        <option value="5008">치킨</option>
        <option value="5009">호프 및 간이주점</option>
        <option value="5010">카페</option>
        <option value="5011">기타 외국식</option>
    </optgroup>
    <!-- 교육 -->
    <optgroup label="교육">
        <option value="1003">교습학원</option>
        <option value="1004">어학원</option>
        <option value="1005">예체능학원</option>
        <option value="7001">초등학교</option>
        <option value="7002">중학교</option>
        <option value="7003">고등학교</option>
        <option value="7004">전문대학</option>
        <option value="7005">대학교</option>
        <option value="7006">대학원</option>
        <option value="7007">어린이보육업</option>
    </optgroup>
    <!-- 의료 -->
    <optgroup label="의료">
        <option value="9003">병원</option>
        <option value="J001">동물병원</option>
        <option value="J002">약국</option>
        <option value="J003">한방병원</option>
        <option value="8007">기타의료업</option>
    </optgroup>
    <!-- 공공 -->
    <optgroup label="공공">
        <option value="6001">우체국</option>
        <option value="6002">행정기관</option>
        <option value="6003">경찰/지구대</option>
        <option value="6004">소방서</option>
    </optgroup>
    <!-- 기타 -->
    <optgroup label="기타">
        <option value="9900">기타</option>
    </optgroup>
</select>


<button id="count">편의시설 수 검색</button>
<button id="location">강남 분석</button>

<div id="content"></div>
<div id="content2"></div>
</body>


</html>


<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div id="chart" style="width: 100%; height: 500px"></div>
</body>
</html>
